include ./layout.jade
  link(href='./css/listRoom.css', rel='stylesheet')
  block body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') 
            img(src='https://www.oohoo.io/assets/images/logo.png' height="28px" style="margin-left:10px;")
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            form(method="post", action="/admin")
              button.btn.btn-primary(style="margin-top:15px;" ,type="submit") Logout
    .container-fluid
      .row
        table.table.table-hover
          tr
            th name user
            th E-mail
            th telephone
            th question
            th time
          tr 
            td a 
            td a@b
            td 0297978465
            td xxxxxxxxxxxxxxxxxx
            td 15:15:15 16/6/60
