include ./layout.jade
  block body
    form(align="center",action='/admin' , method="post",style="margin-top:10%;")
      //- div(style="width:150px;,display:block;,margin:20px auto;")
      .container
        img(style="margin:25px 0 30px 30px;",src="https://www.oohoo.io/assets/images/logo.png", alt="oohoo")
        div(style="margin-bottom:10px") 
          label
            b Username : &nbsp
          input(type='text', name='idAdmin', required='')
        div(style="margin-bottom:10px") 
          label
            b Password : &nbsp
          input(type='password', name='passwordAdmin', required='')
        button(type='submit') Login
