* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
}
body {
    background: #ccc;
    font-family: arial, san-serif;
    font-size: 1.2em;
    color: #666;
}
h1{
  margin: 0;
  padding: 11.5px 0;
  color: white;
}
#head{
  padding: 0 15px;
}
.box {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.box--container {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
}
.box--chat {
  background: #fff;
  padding: 15px;
  border: 1px solid #eee;
}
button.btn.btn-danger{
  display: block;
  margin: 0 auto;
}
#chat-history {
    list-style: none;
    padding: 0 0 10px 0;
    overflow: auto;
    height: 300px;
}
.message {
    background: #eee;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    clear: both;
    max-width: 600px;
}
.message--me {
    background: #B3ED7A;
    float: right;
    max-width: 600px;
}
#end_con{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}
button#end_con{
  margin-top: 28px;
}
#chat-message {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
}
